.profile_table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.profile_th {
  border: 2px solid;
  padding-left: 2px;
  height: 50px;
  width: 150px;
}

.table_header {
  text-align: center;
}
.profile_button {
  text-align: center;
  margin-top: 30px;

}
