.feed_form_posted {
  height: 50px;
  padding-top: 10px;
  padding-bottom: 40px;
}
.feed_form_posting {
  height: 50px;
}
.feeds_edit_button {
  margin-top: 20px;
}
.feed_form_h3 {
  margin-bottom: 20px;
}
