html {
  position: relative;
  height: 700px;
}
header {
  position: relative;
  background-color: #305097;
  height: 100px;
}

.application_div {
  height: 100px;
  text-align: center;
}
.application_button {
  margin-top: 35px;
}
footer {
  width: 100%;
  height: 100px;
  background-color: gray;
  position: absolute;
  bottom: 0;
}
